
      canvas { 
          border: 1px solid black; 
          margin: auto;
          text-align: center;
            display: flex;}
    
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    


    .break {
        flex-basis: 100%;
        height: 0;
      }